<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="com.leo.han">
	</context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsps/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


	<!-- Definle the exporter and url point for the HTTP Invoker RMI -->

	<!-- Mapping configurations from URLs to request handler beans -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<!-- the key define the URL path,  the URL to the exporter -->
				<prop key="/calc.service">calculateServiceExporter</prop>
			</props>
		</property>
	</bean>


	<bean id="calculateServiceExporter"
		class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
		<property name="service" ref="calculateService">
		</property>
		<property name="serviceInterface" value="com.leo.han.services.CalculateService">
		</property>
	</bean>


</beans>
